form {
    .form-section {
        margin-bottom: 1rem;

        label {
            display: block;
        }

        input {
            display: block;
            width: 100%;
            padding: 0.3rem;
        }
    }

    width: 100%;
}
